body {
    background: rgb(197, 152, 238);
    margin-left: 100px;
    margin-right: 100px;
}

header {
    margin-top: 50px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    color: red;
    font-family: fantasy:
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img-padrao {
    margin-bottom: 50px;
    width: 100px;
}
